<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--  <link-->
  <!--    rel="stylesheet"-->
  <!--    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"-->
  <!--  >-->
</head>
<body>
<header>
</header>

<!-- carousel -->
<div class="carousel">
  <!-- list item -->
  <div class="list">
    <div class="item" id="item-dojo">
      <img src="image/img-1.jpg"/>
      <div class="content">
        <div class="author">DOJO</div>
        <div class="title">Sakura Ryu </div>
        <h1 class="topic">INFOS</h1>
        <div class="buttons">
          <button disabled onclick="showSlider('dojo')" class="active"> INFOS</button>
          <button onclick="showSlider('stage')" class="passive">STAGES</button>
          <button onclick="showSlider('sensei')"  class="passive">SENSEI</button>
        </div>
        <div class="des flex" >
          <div>
            <img class="logo" src="logo.png"/>
          </div>
          <div  class="dojo-div">
            <div>
              <h3><a href="https://la-marcotte.businessbooster.website/"><i class="fa fa-map-marker"></i> Dojo</a></h3>
              <p>Complexe La Marcotte<br/>Rue de l'Eglise 12<br/>7950 Chièvres</p>
            </div>
            <div>
              <h3>Horaires</h3>
              <p>Tous les Jeudis - 19h30 - 21h</p>
            </div>
          </div>
          <div class="dojo-div">
            <h3>Contacts</h3>
            <p><i class="fa fa-facebook-f"></i><a href="https://www.facebook.com/profile.php?id=61550264155284">
              Facebook</a></p>
            <p><i class='fa fa-phone'></i><span id="putTelHere"><a href="javascript:void(0)" onclick="revealPhone()"> tel</a></span>
            </p>
            <p><i class='fa fa-envelope-open'></i><span id="putMailHere"><a href="javascript:void(0)"
                                                                            onclick="revealMail()"> mail</a></span></p>
          </div>

        </div>
      </div>
    </div>
    <div class="item" id="item-stage">
      <img src="image/img-2.jpg">
      <div class="content">
        <div class="author">DOJO</div>
        <div class="title">Sakura Ryu</div>
        <h1 class="topic">STAGES</h1>
        <div class="buttons">
          <button onclick="showSlider('dojo')"  class="passive">INFOS</button>
          <button disabled onclick="showSlider('stage')"  class="active">STAGES</button>
          <button onclick="showSlider('sensei')"  class="passive">SENSEI</button>
        </div>
        <div class="des">
          <p>Nous organisons des stages de perfectionnement du maniement des armes (Jo : Boken)
            <br/>Les stages sont ouverts à tous en ordre de licence</p>
          <div>
            <h3>Prochains stages</h3>
            <table style="min-width:80%">
              <tr>
                <th>Horaires</th>
                <th></th>
                <th>Lieu</th>
                <th>Sensei</th>
              </tr>
              <tr>
                <td>Samedi 20 Septembre 2025</td>
                <td>14h - 16h</td>
                <td><a href="https://la-marcotte.businessbooster.website/"><i class="fa fa-map-marker"></i> Dojo</a>
                </td>
                <td>Mickael Devisch</td>
              </tr>
              <tr>
                <td>Samedi 25 Octobre 2025</td>
                <td>14h - 16h</td>
                <td><a href="https://la-marcotte.businessbooster.website/"><i class="fa fa-map-marker"></i> Dojo</a>
                </td>
                <td>Mickael Devisch</td>
              </tr>
              <tr>
                <td>Samedi 15 Novembre 2025</td>
                <td>14h - 16h</td>
                <td><a href="https://la-marcotte.businessbooster.website/"><i class="fa fa-map-marker"></i> Dojo</a>
                </td>
                <td>Mickael Devisch</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="item" id="item-sensei">
      <img src="image/img-3.jpg">
      <div class="content">
        <div class="author">DOJO</div>
        <div class="title">Sakura Ryu</div>
        <h1 class="topic">SENSEI</h1>
        <div class="buttons">
          <button onclick="showSlider('dojo')"  class="passive">INFOS</button>
          <button onclick="showSlider('stage')"  class="passive">STAGES</button>
          <button disabled onclick="showSlider('sensei')"  class="active">SENSEI</button>
        </div>
        <div class="des">
          <p>Mickael De Visch : Une passion, un enseignement d&#39;exception
            Né à Lessines en 1961, un véritable passionné des arts martiaux.
            Avec ses débuts dans le Judo et sa transition vers l&#39;aïkido en 1994, Mickaël a trouvé sa
            véritable voie. En 2003, animé par le désir de partager son savoir, il ouvre son propre
            dojo qui attire rapidement des membres réguliers.
            Inspiré par sa rencontre avec Carlo Van Parys lors d&#39;un stage Buki Waza, Mickaël s&#39;est
            investi dans l&#39;enseignement de l&#39;aïkido traditionnel d’Iwama Ryu, fondant ainsi le club
            MARUBASHI en septembre 2004.
          </p>
          <p>
            Cherchant constamment à perfectionner son enseignement, Mickaël se forme à Liège,
            en France et au Maroc pour suivre des stages « Uchi Deshi » chez des maîtres
            renommés. Son approche met l&#39;accent sur la rigueur, l&#39;efficacité et la précision, tout en
            encourageant la réflexion et la remise en question.
          </p>
          <p>
            Dans ses cours, Mickaël incarne le respect des autres, de soi-même et de la tradition,
            offrant un environnement d&#39;apprentissage convivial et propice à l&#39;épanouissement. Son
            enseignement, s’inscrivant dans la longue tradition de l’école d’Iwama, est à la fois basé
            sur les techniques mains nues et sur la maîtrise des armes, démontrant la relation
            existante entre les deux.
          </p>
          <p>
            Ne manquez pas cette opportunité de découvrir et de vous épanouir dans l&#39;aïkido avec
            Mickaël De Visch, cadre sportif à la communauté française et moniteur ADEPS.
            De plus, avec une curiosité insatiable, Mickaël a exploré d&#39;autres disciplines comme
          </p>

        </div>

      </div>
    </div>
  </div>
</div>

<script src="app.js"></script>
</body>
</html>
